p {
    margin-top: 180px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    margin-left: 15px;
}

.photostrip {
        display: flex;
        padding: 36px 30px 0px 38px;
        width: 1123px;
        background-color: white;  
        border-bottom: solid 40px rgb(211, 205, 191); 
}
a {
    text-decoration: none;
}
body {
    background-color: #333a35;
}
.fontawesome {
    margin-top: 5px;
    display: flex;  
}    
i {
    font-size: 24px;
    color: orange;
    margin-left: 15px;
    display: flex;
}
.logo {
    height: 50px;
    width: 50px;
}
.navbar {
    display: flex;
    background-color: #333a35;
    justify-content: flex-start; 
    padding-top: 10px;
    padding-bottom: 10px; 
    align-items: center;
}
.navbar a {
    margin: 5px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    display: flex;
    margin-left: 30px;
    text-transform: uppercase;
}
.navbar a:hover { 
   color:#eca419;
  }
.container1 {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
}
.right {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.stream {
    background-image: url('images/stream420x240.jpg');
    width: 420px;
    height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.relax {
    background-image: url('images/relax420x237.jpg');
    width: 420px;
    height: 237px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.desert {
    background-image: url('images/desert780x477.jpg');
    font-size: 25px;
    width: 780px;
    height: 477px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}
.desert h2 {
    border-bottom: solid 1px goldenrod;
    width: 700px; 
    padding-bottom:30px;
    padding-top: 100px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}