.badge {
    position: absolute;
    left: 240px;
}
.desertlink,
.relaxlink,
.streamlink {
    text-decoration: none;
    color: white;
}
.div1 h2 {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 58px;
}
.div2 h2 {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 55px;
}
.div3 h2 {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 55px;
}
.div4 h2 {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 53px;
}
.one {
    display: flex;
    background-color: white;
    width: 900px;
    padding: 50px;
    margin-top: 5px;
}
.two {
    display: flex;
    background-color: white;
    width: 900px;
    padding: 50px;
    margin-top: 5px;
}
.three {
    display: flex;
    background-color: white;
    width: 900px;
    padding: 50px;
    margin-top: 5px;
}
.four {
    display: flex;
    background-color: white;
    width: 900px;
    padding: 50px;
    margin-top: 5px;
}

.background {
    display: flex;
    background-color: #dfd7c7;
    width: 1078px;
    padding: 60px;
}
.columns h1 {
    font-family: "Muli", sans-serif;
    font-size: 24px; 
    text-transform: uppercase;
    margin: 40px 0px -2px 30px;
}
.columns p {
    font-family: "Muli", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: orange;
    text-transform: uppercase;
    margin-bottom: -18px;
    margin-top: 80px;
    text-align: center;
}
.columns {
    display: flex;
    flex-direction: column;
    width: 950px;
    margin-left: 40px;
}
.photostrip {
    display: flex;
    background-color: white;
    width: 1122px;
    padding-left: 76px;
}
.photostrip img {
    display: flex;
    justify-content: center;
    width: 275px;
    height: 200px;
}
figure {
    margin-left: -30px;
    padding-top: 26px;
}
figcaption {
    display: flex;
    justify-content: flex-start;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    text-transform: uppercase; 
    margin-top: 2px;
    padding-bottom: 15px;
}
.div1 a,
.div2 a,
.div3 a,
.div4 a {
    text-decoration: none;
    color: black;

}
body {
    background-color: #333a35;
}
.fontawesome {
    margin-top: 5px;
    display: flex;  
}    
i {
    font-size: 24px;
    color: orange;
    margin-left: 15px;
    display: flex;
}
.logo {
    height: 70px;
    width: 70px;
}
.navbar {
    display: flex;
    background-color: #333a35;
    justify-content: flex-start; 
    padding-top: 10px;
    padding-bottom: 10px; 
    align-items: center;
}
.navbar a {
    margin: 5px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    display: flex;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
}
 .fab:hover, 
 .fas:hover { 
    color: white;
}

.navbar a:hover { 
   color:#eca419;
  }
.container1 {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
}
.right {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.right h2 {
    margin-left: 35px;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}
.stream {
    background-image: url('images/stream420x240.jpg');
    width: 420px;
    height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.relax {
    background-image: url('images/relax420x237.jpg');
    width: 420px;
    height: 237px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;  
    font-size: 30px; 
}
.desert {
    background-image: url('images/desert780x477.jpg');
    width: 780px;
    height: 477px;
    display: flex;
}
.desert h2 {
    border-bottom: solid 1px goldenrod;
    width: 700px; 
    margin-top: 300px;
    margin-bottom: 70px;
    margin-left: 45px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}